@model System.Data.DataTable

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-hover table-striped">
    <tr>
        <th> Book Name </th>
        <th> Author Name </th>
        <th> Publish Year </th>
        <th> Update </th>
        <th> Delete </th>
    </tr>
    @for(int i = 0; i < Model.Rows.Count; i++)
            {
                <tr>
                    <td> @Model.Rows[i][1] </td>
                    <td> @Model.Rows[i][2] </td>
                    <td> @Model.Rows[i][3] </td>
                    <td> <a href="@Url.Action("Edit","Book", new { @id = Model.Rows[i][0] })">Update</a> </td>
                    <td> <a href="@Url.Action("Delete","Book", new { @id = Model.Rows[i][0] })">Delete</a> </td>
                </tr>
            }
</table>


<div>
    <a href="@Url.Action("Create","Book")"> Add New Data </a>
</div>
